<div *ngIf="isAddComponentActive" style="padding-bottom: 5px">
  <app-add-user-recipe [ownerID]="getUserId()" (cancel)="onCancel()"
                       style="padding-bottom: 5px"></app-add-user-recipe>
</div>
<div *ngFor="let recipe of userRecipes$ | async" style="padding-bottom: 5px">
  <app-user-recipe-card [userRecipe]="recipe"></app-user-recipe-card>
</div>
<div class="add-button">
  <button (click)="createNew()" color="primary" mat-fab>
    <mat-icon style="padding-left: 5px">note_add</mat-icon>
  </button>
</div>
