<mat-card>
  <form [formGroup]="loginForm">
    <div class="main">
      <div align="center" style="padding: 20px; height: fit-content; grid-column: 2">
        <div style="display: flex; flex-direction: column; width: fit-content; margin: auto; height: 100%">
          <mat-form-field appearance="legacy">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder" formControlName="userName">
            <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder" formControlName="password">
            <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <a (click)="router.navigate(['/auth/reset'])" style="cursor: pointer; color: blue; ">...forgotten
            password?</a>
        </div>
        <div class="flex-row margin-auto">
          <button mat-raised-button color="primary" type="summit">Sign in</button>
          <button mat-raised-button color="primary" type="button">Cancel</button>
        </div>
      </div>
      <div style="grid-column: 3">
        <button (click)="signInGoogle()">Google</button>
      </div>
    </div>
  </form>
</mat-card>



