<button mat-stroked-button (click)="goToHome()">Return Home</button>

<div *ngFor="let user of (users$ | async)">
  <ul>
    <li> Name: {{user.name}} </li>
    <li> Email: {{user.email}} </li>
    <li> ID: {{user.uid}}</li>
    <li> Role: {{user.role}}</li>

    <button color="primary" mat-stroked-button *ngIf="!editState" (click)="editUser($event, user)">Update User</button>
    <button mat-stroked-button color="accent" (click)="onSelect(user.uid)">Go To Users Recipes</button>

    <div *ngIf="editState && userToEdit.uid == user.uid">
      <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">

        <mat-form-field>
          <input matInput type="text" placeholder="name" formControlName="name" name="Name">
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput type="text" placeholder="email" formControlName="email" name="Email">
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-select [(value)]="updateUserForm.value.role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-stroked-button color="primary" type="submit">Submit User</button>
        <button mat-stroked-button color="warn" (click)="deleteItem($event, user)">Delete User</button>
      </form>
    </div>

  </ul>
</div>

<div *ngIf="users$ | async">
  <button class="UsersBtn" mat-button (click)="getPrevSetOfUsers()">Get Prev Set Of Users</button>
  <label>{{page$ | async}}</label>
  <button class="UsersBtn" mat-button (click)="getNextSetOfUsers()">Get Next Set Of Users</button>
</div>

<p *ngIf="userToEdit">{{updateUserForm.value | json}}</p>

<div class="button-pos">
  <button mat-fab (click)="goToUserAdd()" color="primary">
    <mat-icon>person_add</mat-icon>
  </button>
</div>
