<nav aria-label="Top Toolbar" class="navbar mat-elevation-z6">
  <a (click)="this.router.navigate(['/home'])" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <img style="max-height: 55px" src="assets/img/96239821_2861460993961480_741818285984579584_n.png">
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <div class="flex-spacer"></div>
  <a (click)="this.router.navigate(['/recipes'])" *ngIf="auth.authUser$ | async" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Recipes</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/users'])" *ngIf="auth.authUser$ | async" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Users</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a *ngIf="authState" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span *ngIf="authState.name">{{authState.name}}</span>
      <span *ngIf="!authState.name">{{authState.email}}</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a *ngIf="authState" aria-disabled="false" (click)="signOut()"
     class="mat-button mat-button-base" tabindex="0" color="warn" style="background-color: #e91e63">
    <span class="mat-button-wrapper">
      <span *ngIf="authState.name">Log out</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/auth/register'])" *ngIf="!(auth.authUser$ | async)" aria-disabled="false"
     aria-label="Angular Material"
     class="mat-button mat-button-base" mat-button="" routerlink="/" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Sign Up</span>
    </span>
    <div class="mat-ripple mat-button-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/auth/login'])" *ngIf="!(auth.authUser$ | async)" aria-disabled="false"
     aria-label="Angular Material"
     class=" mat-button mat-button-base" mat-button="" routerlink="/" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Sign in</span>
    </span>
    <div class="mat-ripple mat-button-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</nav>


