<nav aria-label="Top Toolbar" class="navbar mat-elevation-z6">
  <mat-icon>
    <i class="material-icons" (click)="router.navigate(['/home'])" >accessible</i>
  </mat-icon>
  <div class="flex-spacer"></div>
  <a (click)="this.router.navigate(['/recipes'])" *ngIf="auth.authUser$ | async" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Recipes</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/users'])" *ngIf="auth.authUser$ | async" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Users</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/user'])" *ngIf="authState" aria-disabled="false"
     class="mat-button mat-button-base" tabindex="0">
    <span class="mat-button-wrapper">
      <span *ngIf="authState.name">{{authState.name}}</span>
      <span *ngIf="!authState.name">{{authState.email}}</span>
    </span>
    <div class="mat-ripple" matripple="mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/profile/register'])" *ngIf="!(auth.authUser$ | async)" aria-disabled="false"
     aria-label="Angular Material"
     class="mat-button mat-button-base" mat-button="" routerlink="/" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Sign Up</span>
    </span>
    <div class="mat-ripple mat-button-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a (click)="this.router.navigate(['/profile/login'])" *ngIf="!(auth.authUser$ | async)" aria-disabled="false"
     aria-label="Angular Material"
     class=" mat-button mat-button-base" mat-button="" routerlink="/" tabindex="0">
    <span class="mat-button-wrapper">
      <span>Sign in</span>
    </span>
    <div class="mat-ripple mat-button-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</nav>


