<form (ngSubmit)="submitHandler()" [formGroup]="newRecipe">
  <mat-card>
    <mat-card-header>
      <label class="mat-card-title">New Recipe</label>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="mat-card-content flex-inlined-collum spaced-around-big">
        <mat-form-field class="spaced-around">
          <input formControlName="name" matInput placeholder="Name" type="text" required>
          <mat-error *ngIf="name.hasError('required')">
            name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="name.hasError('minlength')">
            name must be <strong>longer</strong> than 2 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="spaced-around">
          <input formControlName="estimatedTime" matInput placeholder="Estimated Time" type="number" required>
          <mat-error *ngIf="estimatedTime.hasError('required')">
            estimated time is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <label class="spaced-side mat-card-subtitle">Ingredients</label>
        <ul>
          <li *ngFor="let ing of ingredients.controls; let i = index " formArrayName="ingredients">
            <div formGroupName="{{i}}">
              <mat-form-field class="spaced-side">
                <input formControlName="name" matInput placeholder="Name" type="text" required>
                <mat-error *ngIf="ingredients.at(i).get('name').hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="ingredients.at(i).get('name').hasError('minlength')">
                  name must be <strong>longer</strong> than 2 characters
                </mat-error>
              </mat-form-field>

              <mat-form-field class="spaced-side">
                <input formControlName="amount" matInput placeholder="Amount In Grams" type="number" required>
                <label matSuffix>g</label>
                <mat-error *ngIf="ingredients.at(i).get('amount').hasError('minlength')">
                  must be <strong>more</strong> than 0
                </mat-error>
                <mat-error *ngIf="ingredients.at(i).get('amount').hasError('required')">
                  amount is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button (click)="deleteIngredient(i)" color="warn" mat-icon-button type="button">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </li>
          <li>
            <mat-form-field class="spaced-side">
              <input disabled="true" matInput placeholder="Name" type="text">
            </mat-form-field>
            <mat-form-field class="spaced-side">
              <input disabled="true" matInput placeholder="Amount In Grams" type="number">
            </mat-form-field>
            <button (click)="addIngredient()" class="spaced-side" color="primary" mat-icon-button type="button">
              <mat-icon>add</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <div></div>
      <button color="accent" mat-raised-button type="submit">Save</button>
      <button color="accent" mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
