<div class="mat-card">
  <div class="mat-card-content">
    <h1 class="mat-card-title">Add Recipe</h1>


    <form (ngSubmit)="submitHandler()" [formGroup]="newRecipe">
      <mat-divider></mat-divider>



        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input formControlName="estimatedTime" matInput placeholder="Estimated Time">
        </mat-form-field>

        <div formArrayName="ingredients">

          <div *ngFor="let ing of ingredients.controls; let i=index" [formGroupName]="i">

            <mat-form-field>
              <input formControlName="name" matInput placeholder="Name" type="text">
            </mat-form-field>

            <mat-form-field class="spacerIng">
              <input formControlName="amount" matInput placeholder="Amount In Grams" type="number">
            </mat-form-field>

            <button (click)="deleteIngredient(i)" color="warn" mat-raised-button type="button">Delete</button>

          </div>

          <button (click)="addIngredient()" color="primary" mat-raised-button type="button">Add Ingredient</button>


          <button color="accent" mat-raised-button type="submit">Add Recipe</button>
          </div>
    </form>

  </div>

</div>
