.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-inlined-collum {
  display: flex;
  flex-direction: column;
}

.max-length-input {
  max-width: 400px;
}

.spaced-around {
  padding: 10px
}

.spaced-side {
  margin-right: 10px;
  margin-left: 10px;
}

.spaced-around-big {
  padding: 15px
}

