/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  background-color: lightgray;
}

app-nav-bar {
  background: #e91e63;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fail {
  background-color: #B33A3A;
  color: white;
}

.success {
  background-color: #1DB954;
  color: white;

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-inlined-collum {
  display: inline-flex;
  flex-direction: column;
}

.spaced-around {
  padding: 10px
}

.spaced-side {
  margin-right: 10px;
  margin-left: 10px;
}

.spaced-around-big {
  padding: 15px
}
