/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html, body {
  height: 100%;
  background-color: #dedbe4;
}

app-nav-bar {
  background: #e91e63;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fail {
  background-color: #B33A3A;
  color: white;
  margin: 11px 11px 0 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  text-align: center;
}

.success {
  background-color: #1DB954;
  color: white;
  margin: 11px 11px 0 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-inlined-collum {
  display: inline-flex;
  flex-direction: column;
}

.spaced-around {
  padding: 10px
}

.spaced-side {
  margin-right: 10px;
  margin-left: 10px;
}

.spaced-around-big {
  padding: 15px
}

.add-button {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.container {
  text-align: center;
}
