<div class="header">
  <h1>Front page</h1>


  <div class="LoggedInContainer" *ngIf="auth.authUser$ | async as user; else showLogin">
    <h3>Hello {{ user.name }}!</h3>
    <p>Your User Id = {{user.uid}}</p>
    <p>Your User Role = {{user.role}}</p>
    <button mat-stroked-button color="warn" (click)="logout()">Logout</button>

  </div>
  <ng-template #showLogin class="LoggedInContainer">
    <p>Please login.</p>
    <button mat-stroked-button (click)="loginWithGoogle()">Login with Google</button>
    <button *ngIf="loginWithEmail == false" mat-stroked-button (click)="loginWithEmailMethod()">Login with Email and
      Password
    </button>
  </ng-template>


  <div class="loginContainer" *ngIf="loginWithEmail == true">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="Email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>
      <br>
      <button mat-stroked-button (click)="loginWithEmailPassword()" routerLink="/home">Login</button>
      <button mat-stroked-button (click)="signUpWithEmailPassword()" routerLink="/home">sign up</button>
      <button mat-stroked-button (click)="loginWithEmailMethod()" routerLink="/home">Cancel</button>
    </form>
  </div>

  <div *ngIf="auth.authUser$ | async">

    <button mat-stroked-button (click)="goToRecipes()">Go To Recipes</button>
    <button mat-stroked-button (click)="goToUsers()">Go To Users</button>


  </div>


</div>



